/* Font */
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
    --primary: #df5e00;
    --white: #fefefe;
    --brown: #3c0c0c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: var(--white);
}

.header-about {
    margin-top: 115px;
}

#header-about-img{
    width: 100%;
}

.main-about{
    padding-left: 100px;
    padding-right: 100px;
}

#about-tagline{
    font-weight: 700;
    font-style: italic;
    margin-bottom: 50px;
}

.about-img-left{
    max-width: 400px;
    margin-left: auto;
    border-radius: 20px;
}

.about-img-right{
    max-width: 400px;
    margin-right: auto;
    border-radius: 20px;
}

.about-img-left:hover, .about-img-right:hover{
    transform: scale(1.1);
    transition: 300ms ease;
}

.about-card{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.about-desc{
    width: 750px;
    font-size: 1.5rem;
    text-align: justify;
}

.about-title{
    margin-bottom: 20px;
    font-style: italic;
}

.company-title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

.company-desc{
    text-align: justify;
    margin-bottom: 20px;
}

.company-profile-container{
    background-color: #FFAC83;
    color: var(--brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 175px;
}

#company-img{
    width: 600px;
    margin-top: 20px;
    border-radius: 10px;
}

.list-company{
    margin-left: 20px;
}


@media screen and (max-width:1024px) {
    .header-about {
        margin-top: 90px;
        width: 100%;
    }
    .about-img-left{
        margin-left: auto;
        margin-right: 10px;
    }
    .about-img-right{
        margin-right: auto;
        margin-left: 10px;
    }
    .about-img-left, .about-img-right{
        max-width: 400px;
    }
    .about-title{
        font-size: 1.5rem;
    }
    .about-desc{
        width: 450px;
        font-size: 1rem;
    }
    .main-about{
        padding-left: 10px;
        padding-right: 10px;
    }
    #company-img{
        width: 400px;
    }
    .company-profile-container{
        padding: 10px 50px;
    }
    #about-tagline{
        width: 95%;
    }
}

@media screen and (max-width:912px) {
    .header-about {
        margin-top: 100px;
    }
    .about-img-left, .about-img-right{
        max-width: 300px;
    }
    .about-title{
        margin: 10px 10px;
    }
    .about-desc{
        width: 80%;
        font-size: 1rem;
        margin: 0px 10px;
    }
}

@media screen and (max-width:590px) {
    .about-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-img-left, .about-img-right{
        max-width: 300px;
        margin: 10px 0px;
    }

    #company-img{
        width: 300px;
    }
}

@media screen and (max-width:413px) {
    .header-about {
        margin-top: 75px;
    }
}