/* Font */
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
    --primary: #df5e00;
    --secondary: #ffac83;
    --white: #fefefe;
    --brown: #3c0c0c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: var(--white);
}

h1 {
    text-align: center;
    font-size: 64px;
}

h2 {
    z-index: 2;
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

.slider-container {
    padding: 24px 50px;
    margin-top: 70px;
}

#slider {
    width: 90%;
    height: auto;
    margin: 50px auto;
    border: 6px solid var(--brown);
    position: relative;
    border-radius: 30px;
}

div#slider {
    overflow: hidden;
}

div#slider .slider-items img {
    width: 20%;
    height: 100%;
    float: left;
}

div#slider .slider-items {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    margin-left: -100%;
}

.btn-next,
.btn-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: transparent;
    opacity: 0.6;
}

.btn-prev {
    left: 20px;
}

.btn-next {
    right: 20px;
}

.slider-btn-left,
.slider-btn-right {
    width: 70px;
}

.product-category-container {
    padding: 24px 50px;
}

.product-category-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    margin-top: 52px;
}

.product-category-items {
    position: relative;
}

.product-category-image {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 24px;
    color: var(--white);
}

.cinnamon-rolls {
    background-image: url("./assets/home/cinnamon.png");
    background-size: cover;
}

.breads {
    background-image: url("./assets/home/bread.png");
    background-size: cover;
}

.cookies {
    background-image: url("./assets/home/cookie.png");
    background-size: cover;
}

.cakes {
    background-image: url("./assets/home/cake.png");
    background-size: cover;
}

.product-category-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brown);
    opacity: 0.7;
    border-radius: 50px;
    z-index: 1;
}

.products-container {
    margin: 50px 0;
    padding: 24px 50px;
}

.products-subcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
}

.product-cards {
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3b0c0c;
    transition: 300ms ease;
}

.product-cards:hover {
    transform: translate(-15px, -10px);
    box-shadow: 15px 15px rgba(223, 94, 0, 0.7);
}

.product-cards > img {
    border-radius: 8px;
    width: 100%;
    height: 200px;
}

.product-cards > h3 {
    color: white;
    padding-top: 1rem;
    padding-inline: 1rem;
    font-weight: 700;
    text-align: center;
}

.product-cards > h4 {
    color: white;
    padding-block: 10px;
    padding-inline: 1rem;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 14px;
    }

    .btn-prev {
        left: 15px;
    }

    .btn-next {
        right: 15px;
    }

    .slider-btn-left,
    .slider-btn-right {
        width: 50px;
    }

    .product-category-image {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 912px) {
    .product-category-image {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 52px;
    }

    .btn-prev {
        left: 10px;
    }

    .btn-next {
        right: 10px;
    }

    .slider-btn-left,
    .slider-btn-right {
        width: 35px;
    }
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
    }

    #slider {
        margin: 25px auto;
    }

    .product-category-subcontainer {
        margin-top: 32px;
    }

    .products-container {
        margin: 25px 0;
    }
}
