/* Font */
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
    --primary: #df5e00;
    --white: #fefefe;
    --brown: #3c0c0c;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}

body {
    background-color: var(--white);
}

.header-location {
    margin-top: 110px;
}

#header-location-img{
    width: 100%;
}

.main-location, .location-card, #hours{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-card, #maps-frame{
    margin-top: 50px;
    margin-bottom: 50px;
}

.location-icon-img{
    height: 20vh;
}

#location-tagline{
    font-size: 3rem;
    font-style: italic;
}

.location-desc{
    width: 20vw;
    margin-left: 5vw;
    font-weight: 700;
    text-align: justify;
}

#maps{
    height: 50vh;
    border-radius: 10px;
}

h1{
    text-align: center;
}

td{
    padding: 10px;
}

#maps-frame{
    background-color: #3c0c0c;
    padding: 50px;
    padding-top: 10px;
    border-radius: 15px;
}

#maps-text{
    color: #fefefe;
    padding: 1rem;
}

@media screen and (max-width:1024px) {
    .header-location {
    margin-top: 90px;
}
}

@media screen and (max-width:912px) {
    .header-location {
    margin-top: 100px;
}
}

@media screen and (max-width:413px) {
    .header-location {
    margin-top: 75px;
}
}